body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr; /* Three rows with the last one taking remaining space */
    gap: 10px; /* Gap between the rows */
    background-image: url('bsu.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;

}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logout a {
    padding: 10px;
    background-color: #ff5733; /* Change to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

.content {
    padding: 20px;
}

