body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 10px;
    /* Gap between the columns */
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.logo img {
    height: 60px;
    /* Adjust the height as needed */
}

.title {
    flex-grow: 1;
    text-align: center;
}

.logout button {
    padding: 10px;
    background-color: #d21b1b;
    /* Change to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout button:hover {
    background-color: #d72020;
    /* Change to your preferred hover color */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Move back by half of its width and height */
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.field {
    box-sizing: border-box;
    /* Include padding and borders in the width calculation */
    padding: 15px;
    flex: 1;
    display: flex;
    align-items: center;
}

.horizontal-fields {
    align-items: center;
}